<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator Login</title>

    <link rel="stylesheet" href="{{ url_for('static', path='css/login.css') }}">
</head>
<body>
    <form action="/admin/login" method="post">
        <h3>Admin Login</h3>
        <div class="input_div">
            <label for="username">Username:</label>
            <input type="text" name="username" required>

        </div>
        
        <div class="input_div">
            <label for="password">Password:</label>
            <input type="password" name="password" required>
        </div>

        <a href="#"><p>forgot password?</p></a>

        <button type="submit">Login</button>

        <p>don't have an account? <a href="#">Signup</a></p>
    </form>
</body>
</html>
