<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin - Dashboard</title>
	<link rel="stylesheet" href="{{ url_for('static', path='css/dashboard.css') }}">
</head>
<body>

	<header>
		<p>Admin Dashboard</p>
		<ul>
			<li>Create Poll</li>
			<li>Manage Users</li>
			<li>Results</li>
			<li>Poll History</li>
			<li>Settings</li>
		</ul>
	</header>
	
	<section class="welcome_section">
		<p>Welcome to your Dashboard, Prof. Sani Aliyu</p>
	</section>

	<section class="stats">
		<div class="stats_item">
			<p class="num">5</p>
			<p>Active Polls</p>
		</div>

		<div class="stats_item">
			<p class="num">125</p>
			<p>Total Students</p>
		</div>

		<div class="stats_item">
			<p class="num">3</p>
			<p>Completed Polls</p>
		</div>
	</section>

	<section class="active_poll">
		<div class="active_poll_title">
			<p>Active Polls</p>
			<a href="#">Create New Poll</a>
		</div>

		<div class="active_poll_div">
			<div class="active_poll_item">
				<div class="sub_poll_div">
					<p>Web Design</p>
					<p>Survey Evaluating the Teaching Effectiveness of Our Lectures</p>
				</div>
				<div class="sub_poll_div">
					<p>BY</p>
					<p>Prof. Ayomide Ajayi</p>
				</div>
				<div class="sub_poll_div">
					<p>Closing Date</p>
					<p>May 31, 2025</p>
				</div>

				<div class="sub_poll_div">
					<p>Status</p>
					<p>Active</p>
				</div>
			</div>

			<div class="active_poll_item">
				<div class="sub_poll_div">
					<p>Web Design</p>
					<p>Survey Evaluating the Teaching Effectiveness of Our Lectures</p>
				</div>
				<div class="sub_poll_div">
					<p>BY</p>
					<p>Prof. Ayomide Ajayi</p>
				</div>
				<div class="sub_poll_div">
					<p>Closing Date</p>
					<p>May 31, 2025</p>
				</div>

				<div class="sub_poll_div">
					<p>Status</p>
					<p>Active</p>
				</div>
			</div>

			<div class="active_poll_item">
				<div class="sub_poll_div">
					<p>Web Design</p>
					<p>Survey Evaluating the Teaching Effectiveness of Our Lectures</p>
				</div>
				<div class="sub_poll_div">
					<p>BY</p>
					<p>Prof. Ayomide Ajayi</p>
				</div>
				<div class="sub_poll_div">
					<p>Closing Date</p>
					<p>May 31, 2025</p>
				</div>

				<div class="sub_poll_div">
					<p>Status</p>
					<p>Active</p>
				</div>
			</div>

		</div>
	</section>
</body>
</html>
