<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin - Dashboard</title>
	<link rel="stylesheet" href="{{ url_for('static', path='css/dashboard.css') }}">
</head>
<body>

    <header>
		<a href="/admin/dashboard" style="                                              text-decoration: none;
			 	color: white;
			 "><p>Admin Dashboard</p></a>
		<ul>
			<li><a href="/admin/dashboard" style="
				color: white;
				text-decoration: none;">Home</a></li>
			<li><a href="/create_poll" style="
				color: white;
				text-decoration: none;">Create Poll</a></li>
			<li><a href="/admin/logout" style="
				color: white;
				text-decoration: none;">Logout</a></li>
		</ul>
	</header>
	
	<section class="welcome_section">
		<p>Welcome to your Dashboard, Prof. Sani Aliyu</p>
	</section>

	<section class="stats">
		<div class="stats_item">
			<p class="num">{{ questions | length }}</p>
			<p>Active Polls</p>
		</div>

		<div class="stats_item">
			<p class="num">{{ students | length }}</p>
			<p>Total Students</p>
		</div>

		<div class="stats_item">
			<p class="num">5</p>
			<p>Completed Polls</p>
		</div>
	</section>

	<section class="active_poll">

		<div class="active_poll_title">
			<p>Active Polls</p>
			<a href="/create_poll">Create New Poll</a>
		</div>

		<div class="active_poll_div">
			{% for question in questions %}

			<a href="/admin/poll/{{ question.id }}" style="text-decoration: none;">
			<div class="active_poll_item">

				<div class="sub_poll_div">
					<p style="margin-bottom: 5px;">{{ question.options | length }} Choices</p>
					<p>{{ question.value }}</p>
				</div>
				<div class="sub_poll_div">
					<p style="margin-bottom: 5px;">BY</p>
					<p>Prof. Sani Aliyu</p>
				</div>

				<div class="sub_poll_div">
					<p style="margin-bottom: 5px;">Date Created</p>
					<p>{{ question.created_at.strftime('%B %d, %Y') }}</p>
				</div>

				<div class="sub_poll_div">
					<p style="margin-bottom: 5px;">Status</p>
					<p>Active</p>
				</div>
			</div>
			</a>

			{% endfor %}


		</div>
	</section>
</body>
</html>
