<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enhanced Polling System</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/landing_page.css') }}">
    <!--<link rel="stylesheet" href="../static/css/landing_page.css">-->
</head>
<body>
    <header>
			<p>Clifford University</p>
			<ul>
				<a href="/login"><li>Login</li></a>
				<a href="/signup"><li>Signup</li></a>
				<a href="/admin/login"><li>Admin</li></a>
			</ul>
	</header>

    <section>
        <div class="info_div">
            <div class="poll_info">
                <p class="main_heading">Enhanced Polling System</p>
                <p class="sub_heading">Built for student, by students - with ease of use and accessibility in mind</p>
                <p class="more_text">Enhanced Polling System is a smart and secure platform designed to gather feedback, conduct elections, share your opinion on key issues and promote student engagement across campus.</p>
            </div>

            <div class="button_div">
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
            </div>
        </div>

        <div class="image_div">
            <img src="../static/images/bg-pollmaker-1.png" alt="">
        </div>
    </section>
</body>
</html>