<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll Title</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/poll.css') }}">
</head>
<body>

    <header>
		<p>Student Dashboard</p>
		<ul>
			<a href="/student/dashboard"><li>Home</li></a>
                	<a href="#"><li>Polls</li></a>
                        <a href="/history"><li>History</li></a>
                        <a href="#"><li>Help</li></a>
                        <a href="/login"><li>Logout</li></a>
        	</ul>
	</header>

    <div class="main_poll_div">
        <div class="div_question">
            <p>Course Evaluation Survey</p>
        </div>

        <div class="main_poll_answer_div">

            <div class="poll_answer">
                <div class="vote_div">
                    <p class="poll_option">COS101 is very simple</p>
                    <div class="stats_div">
                        <div class="load_div">
                            <div class="bars" style="width: 40%;"></div>
                        </div>
                        <p class="vote_result">25 voters</p>
                    </div>
                </div>
                <a href="#" class="vote_btn">Vote</a>
            </div>

            <div class="poll_answer">
                <div class="vote_div">
                    <p class="poll_option">COS101 is very simple</p>
                    <div class="stats_div">
                        <div class="load_div">
                            <div class="bars" style="width: 60%;"></div>
                        </div>
                        <p class="vote_result">25 voters</p>
                    </div>
                </div>
                <a href="#" class="vote_btn">Vote</a>
            </div>

            <div class="poll_answer">
                <div class="vote_div">
                    <p class="poll_option">I preffered we bring back PHY101C</p>
                    <div class="stats_div">
                        <div class="load_div">
                            <div class="bars"></div>
                        </div>
                        <p class="vote_result">25 voters</p>
                    </div>
                </div>
                <a href="#" class="vote_btn">Vote</a>
            </div>
        </div>
    </div>
</body>
</html>
