<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll History</title>
    <link rel="stylesheet" href="../static/css/poll_history.css">
</head>
<body>

    		<header>
			<p>Student - Poll History</p>
			<ul>
				<a href="/student/dashboard"><li>Home</li></a>
                                <a href="/poll"><li>Polls</li></a>
                                <a href="#"><li>History</li></a>
                                <a href="#"><li>Help</li></a>
                                <a href="/logout"><li>Logout</li></a>
			</ul>
		</header>
        
    <section>
        <div class="main_table">
            <div class="table_title">
                <div class="table_item">
                    <p>Poll Title</p>
                </div>
                <div class="table_item">
                    <p>Date</p>
                </div>
                <div class="table_item">
                    <p>Status</p>
                </div>
                <div class="table_item">
                    <p>Action</p>
                </div>
            </div>

            <div class="table_container">
                <div class="table_row">
                    <div class="table_item">
                        <p>Library Feedback</p>
                    </div>
                    <div class="table_item">
                        <p>June 20</p>
                    </div>
                    <div class="table_item">
                        <p>Active</p>
                    </div>
                    <div class="table_item">
                        <a href="#">View Summary</a>
                    </div>
                </div>

                <div class="table_row">
                    <div class="table_item">
                        <p>E-learning Experience Survey</p>
                    </div>
                    <div class="table_item">
                        <p>May 10</p>
                    </div>
                    <div class="table_item">
                        <p>completed</p>
                    </div>
                    <div class="table_item">
                        <a href="#">View Summery</a>
                    </div>
                </div>

                <div class="table_row">
                    <div class="table_item">
                        <p>Exam Prep Support Feedback</p>
                    </div>
                    <div class="table_item">
                        <p>April 22</p>
                    </div>
                    <div class="table_item">
                        <p>Completed</p>
                    </div>
                    <div class="table_item">
                        <a href="#">View Summery</a>
                    </div>
                </div>

                                <div class="table_row">
                    <div class="table_item">
                        <p>Library Feedback</p>
                    </div>
                    <div class="table_item">
                        <p>June 20</p>
                    </div>
                    <div class="table_item">
                        <p>Active</p>
                    </div>
                    <div class="table_item">
                        <a href="#">View Summary</a>
                    </div>
                </div>

                <div class="table_row">
                    <div class="table_item">
                        <p>E-learning Experience Survey</p>
                    </div>
                    <div class="table_item">
                        <p>May 10</p>
                    </div>
                    <div class="table_item">
                        <p>completed</p>
                    </div>
                    <div class="table_item">
                        <a href="#">View Summery</a>
                    </div>
                </div>

                <div class="table_row">
                    <div class="table_item">
                        <p>Exam Prep Support Feedback</p>
                    </div>
                    <div class="table_item">
                        <p>April 22</p>
                    </div>
                    <div class="table_item">
                        <p>Completed</p>
                    </div>
                    <div class="table_item">
                        <a href="#">View Summery</a>
                    </div>
                </div>

                <div class="table_row">
                    <div class="table_item">
                        <p>Library Feedback</p>
                    </div>
                    <div class="table_item">
                        <p>June 20</p>
                    </div>
                    <div class="table_item">
                        <p>Active</p>
                    </div>
                    <div class="table_item">
                        <a href="#">View Summary</a>
                    </div>
                </div>

                <div class="table_row">
                    <div class="table_item">
                        <p>E-learning Experience Survey</p>
                    </div>
                    <div class="table_item">
                        <p>May 10</p>
                    </div>
                    <div class="table_item">
                        <p>completed</p>
                    </div>
                    <div class="table_item">
                        <a href="#">View Summery</a>
                    </div>
                </div>

                <div class="table_row">
                    <div class="table_item">
                        <p>Exam Prep Support Feedback</p>
                    </div>
                    <div class="table_item">
                        <p>April 22</p>
                    </div>
                    <div class="table_item">
                        <p>Completed</p>
                    </div>
                    <div class="table_item">
                        <a href="#">View Summery</a>
                    </div>
                </div>

            </div>
        </div>

    </section>
</body>
</html>
