<!Doctype html>
<html>
	<head>
		<title>EOSP Dashboard</title>
		<link rel="stylesheet" href="{{ url_for('static', path='css/student_dashboard.css') }}">
	</head>
	<body>

		<header>
			<p>Student Dashboard</p>
			<ul>
				<li>Home</li>
				<li>Polls</li>
				<li>History</li>
				<li>Help</li>
				<li>Logout</li>
			</ul>
		</header>

		<div class="body_2_div">
			<div class="user_info">
				<p>Welcome, <span>{{ name }}</span></p>
				<p>Matric No: <span>{{ matricNo }}</span></p>
			</div>

			<div class="main_container">
				<section class="active_poll_container">

				<div class="active_poll_title">
					<p>Active Poll <span>8</span></p>
				</div>

				<div class="active_poll">

					<div class="poll_card">
						<p class="poll_date">April 16</p>
						<p class="poll_sub_title">Composary</p>
						<H4>Course Evaluation Survey</H4>
						<p class="poll_vote"><span>52</span> Vote</p>
						<div class="start_poll_div">
							<a href="#">
								<p>Participate</p>
								<img src="../static/images/icons8-start-50.png" alt="">
							</a>
						</div>
					</div>

					<div class="poll_card">
						<p class="poll_date">April 16</p>
						<p class="poll_sub_title">Composary</p>
						<H4>Course Evaluation Survey</H4>
						<p class="poll_vote"><span>52</span> Vote</p>
						<div class="start_poll_div">
							<a href="#">
								<p>Participate</p>
								<img src="../static/images/icons8-start-50.png" alt="">
							</a>
						</div>
					</div>

					<div class="poll_card">
						<p class="poll_date">April 16</p>
						<p class="poll_sub_title">Composary</p>
						<H4>Course Evaluation Survey</H4>
						<p class="poll_vote"><span>52</span> Vote</p>
						<div class="start_poll_div">
							<a href="#">
								<p>Participate</p>
								<img src="../static/images/icons8-start-50.png" alt="">
							</a>
						</div>
					</div>

					<div class="poll_card">
						<p class="poll_date">April 16</p>
						<p class="poll_sub_title">Composary</p>
						<H4>Course Evaluation Survey</H4>
						<p class="poll_vote"><span>52</span> Vote</p>
						<div class="start_poll_div">
							<a href="#">
								<p>Participate</p>
								<img src="../static/images/icons8-start-50.png" alt="">
							</a>
						</div>
					</div>

					<div class="poll_card">
						<p class="poll_date">April 16</p>
						<p class="poll_sub_title">Composary</p>
						<H4>Course Evaluation Survey</H4>
						<p class="poll_vote"><span>52</span> Vote</p>
						<div class="start_poll_div">
							<a href="#">
								<p>Participate</p>
								<img src="../static/images/icons8-start-50.png" alt="">
							</a>
						</div>
					</div>

					<div class="poll_card">
						<p class="poll_date">April 16</p>
						<p class="poll_sub_title">Composary</p>
						<H4>Course Evaluation Survey</H4>
						<p class="poll_vote"><span>52</span> Vote</p>
						<div class="start_poll_div">
							<a href="#">
								<p>Participate</p>
								<img src="../static/images/icons8-start-50.png" alt="">
							</a>
						</div>
					</div>

					<div class="poll_card">
						<p class="poll_date">April 16</p>
						<p class="poll_sub_title">Composary</p>
						<H4>Course Evaluation Survey</H4>
						<p class="poll_vote"><span>52</span> Vote</p>
						<div class="start_poll_div">
							<a href="#">
								<p>Participate</p>
								<img src="../static/images/icons8-start-50.png" alt="">
							</a>
						</div>
					
					</div>

					<div class="poll_card">
						<p class="poll_date">April 16</p>
						<p class="poll_sub_title">Composary</p>
						<H4>Course Evaluation Survey</H4>
						<p class="poll_vote"><span>52</span> Vote</p>
						<div class="start_poll_div">
							<a href="#">
								<p>Participate</p>
								<img src="../static/images/icons8-start-50.png" alt="">
							</a>
						</div>
					</div>
				</div>

				</section>

				<section class="active_poll_container">

				<div class="active_poll_title">
					<p>Upcomming Poll <span>3</span></p>
				</div>

				<div class="active_poll">

					<div class="poll_card">
						<p class="poll_date">April 16</p>
						<p class="poll_sub_title">Composary</p>
						<H4>Course Evaluation Survey</H4>
						<p class="poll_vote"><span>52</span> Vote</p>
						<div class="start_poll_div">
							<a href="#">
								<p>Start June 9th</p>
								<img src="../static/images/icons8-time-machine-50.png" alt="">
							</a>
						</div>
					</div>

					<div class="poll_card">
						<p class="poll_date">April 16</p>
						<p class="poll_sub_title">Composary</p>
						<H4>Course Evaluation Survey</H4>
						<p class="poll_vote"><span>52</span> Vote</p>
						<div class="start_poll_div">
							<a href="#">
								<p>Start June 24th</p>
								<img src="../static/images/icons8-time-machine-50.png" alt="">
							</a>
						</div>
					</div>

					<div class="poll_card">
						<p class="poll_date">April 16</p>
						<p class="poll_sub_title">Composary</p>
						<H4>Course Evaluation Survey</H4>
						<p class="poll_vote"><span>52</span> Vote</p>
						<div class="start_poll_div">
							<a href="#">
								<p>Start June 13th</p>
								<img src="../static/images/icons8-time-machine-50.png" alt="">
							</a>
						</div>
					</div>

				</div>

				</section>

				<section class="active_poll_container">

				<div class="active_poll_title">
					<p>Recently Completed <span>4</span></p>
				</div>

				<div class="active_poll">

					<div class="poll_card">
						<p class="poll_date">April 16</p>
						<p class="poll_sub_title">Composary</p>
						<H4>Course Evaluation Survey</H4>
						<p class="poll_vote"><span>52</span> Vote</p>
						<div class="start_poll_div">
							<a href="#">
								<p>View Summery</p>
								<img src="../static/images/icons8-history-50.png" alt="">
							</a>
						</div>
					</div>

					<div class="poll_card">
						<p class="poll_date">April 16</p>
						<p class="poll_sub_title">Composary</p>
						<H4>Course Evaluation Survey</H4>
						<p class="poll_vote"><span>52</span> Vote</p>
						<div class="start_poll_div">
							<a href="#">
								<p>View Summery</p>
								<img src="../static/images/icons8-history-50.png" alt="">
							</a>
						</div>
					</div>

					<div class="poll_card">
						<p class="poll_date">April 16</p>
						<p class="poll_sub_title">Composary</p>
						<H4>Course Evaluation Survey</H4>
						<p class="poll_vote"><span>52</span> Vote</p>
						<div class="start_poll_div">
							<a href="#">
								<p>View Summery</p>
								<img src="../static/images/icons8-history-50.png" alt="">
							</a>
						</div>
					</div>

					<div class="poll_card">
						<p class="poll_date">April 16</p>
						<p class="poll_sub_title">Composary</p>
						<H4>Course Evaluation Survey</H4>
						<p class="poll_vote"><span>52</span> Vote</p>
						<div class="start_poll_div">
							<a href="#">
								<p>View Summery</p>
								<img src="../static/images/icons8-history-50.png" alt="">
							</a>
						</div>
					</div>

				</div>

				</section>
			</div>
		</div>


	</body>
</html>
